{% extends 'base.html' %}
{% block content %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #dddddd;
        }
    </style>

    <div class="row">
        <div class="col-sm-8">
            <h3>{{ advert.category }} na wynajem </h3>
            <h4><strong>{{ advert.location }} ulica {{ advert.street }} - {{ advert.area }} m<sup>2</sup></strong></h4>
            {% include "advert/galery.html" %}
            <div>
                <br>

            </div>
            <div>
                <h5>Szczegóły:</h5>
                <table>

                    <tr>
                        <td>Rodzaj nieruchomości:</td>
                        <td>{{ advert.category }}</td>
                    </tr>
                    <tr>
                        <td>Lokalizacja:</td>
                        <td>{{ advert.location }}</td>
                    </tr>
                    <tr>
                        <td>Ulica:</td>
                        <td>{{ advert.street }}</td>
                    </tr>
                    <tr>
                        <td>Powierzchnia użytkowa:</td>
                        <td>{{ advert.area }} m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Ilość pokoi:</td>
                        <td>{{ advert.no_of_rooms }}</td>
                    </tr>
                    <tr>
                        <td>Cena:</td>
                        <td>{{ advert.price }} zł</td>
                    </tr>
                </table>

            </div>
            <br>
            <h5>Opis:</h5>
            <div style="text-align: justify">{{ advert.description }}</div>
            <br>
            <div>
                <table>
                    <tr>
                        <th>Zalety nieruchomości:</th>
                        <th>W okolicy:</th>
                    </tr>
                    <tr>
                        <td>
                            <ul style="list-style: none;">
                                {% for advantage in advert.advantages.all %}
                                    <li>-{{ advantage.name }} </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul style="list-style: none;">
                                {% for surrounding in advert.surroundings.all %}
                                    <li>-{{ surrounding.name }} </li>
                                {% endfor %}
                            </ul>
                        </td>

                    </tr>
                </table>
            </div>

        </div>
        <div class="col-sm-4" style="text-align: center;">
            <h2 style="float: right">{{ advert.price }} zł</h2>
            </br>
            </br>
            </br>
            <div style="position: -webkit-sticky;position: sticky;top:80px">
                <div style="text-align: center">Ogłoszenie nr <strong style="color: red">Ad4U{{ advert.id }}</strong>
                </div>
                <div style="border: #5a6268 solid 1px; border-radius: 3px;background-color:#f5f5f0; ">
                    <br>
                    <h3><strong>{{ advert.owner.profile.company_name }}</strong></h3>

                    <h5>Informacje o ogłoszeniodawcy:</h5>
                    <img style="max-height: 300px; max-width: 250px"
                         src="{{ advert.owner.profile.profile_image.url }}"/>
                    <br>
                    <br>

                    <h4>{{ advert.owner.profile.first_name }} {{ advert.owner.profile.last_name }}</h4>
                    <p>{{ advert.owner.profile.company_name }}</p>
                    <br>

                    <p><strong>Email:</strong> {{ advert.owner.profile.email }}  </p>
                    <p><strong>Telefon:</strong> {{ advert.owner.profile.phone_number }}</p>
                    <p></p>
                    <a href="{% url 'user_ads'  advert.owner.id %}">
                        <button type="button" class="btn btn-info">Nasze ogłoszenia</button>
                    </a>
                    <br>
                    <br>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}