<br>
<br>
<br>
<br>
<br>

<div class="dashboard-alerts">
    <div class="all-categories">
        <ul style="font-size: 25px; list-style-type: none" class="all-cat-list d-inline-block">
            {% for category in category_count %}
                <li><span style=" text-align: left" class="ml-25"><a
                        href="{% url 'all_ads_category' category.slug %}">{{ category }} <span
                        class="num-of-ads">({{ category.total_products }})</span></a></span></li>
            {% endfor %}
        </ul>
    </div>
</div>