{% extends 'base.html' %}
{% block content %}
    {% include "advert/search_bar.html" %}
    {% include "advert/category.html" %}
    {% include "advert/location.html" %}

    <h5 class="text-center">Ostatnio dodane ogłoszenia:</h5>
    <div class="row">
        {% for ads in last3_ads %}
            {% include "advert/advert_card_small.html" %}
        {% endfor %}
    </div>
    <h5 class="text-center">Ostatnio wyróżnione ogłoszenia</h5>
    <div class="row">
        {% for ads in premium3_ads %}
            {% include "advert/advert_card_small.html" %}
        {% endfor %}
    </div>

{% endblock content %}

