{% extends 'base.html' %}
{% block content %}
    {% include "advert/search_bar.html" %}
    <div class="row">
        <div class="col-sm-4" style="display: block">
            {% include "advert/category.html" %}
            -
        </div>
        <div class="col-sm-8">
            <br>
            <br>
            <div id="baner" style="margin-left: -100px">
                {% for baner in banner %}
                    <a href="{{ baner.url }} ">
                        <img src="{{ baner.image.url }}" alt="{{ banner.name }}" width="820" height="325"></a>
                    <p style="margin-top: -80px;margin-bottom:80px; text-align: center;color: #007bff;font-size: 25px;font-family:'Arial'; ">{{ baner.description }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "advert/location.html" %}

    <h5 class="text-center">Ostatnio dodane ogłoszenia:</h5>
    <div class="row">
        {% for ads in last3_ads %}
            {% include "advert/advert_card_small.html" %}
        {% endfor %}
    </div>
    <h5 class="text-center">Ostatnio wyróżnione ogłoszenia</h5>
    <div class="row">
        {% for ads in premium3_ads %}
            {% include "advert/advert_card_small.html" %}
        {% endfor %}
    </div>

{% endblock content %}

