<div class="bg-light">
<form action="{% url 'search' %}" method="GET">
    <div class="form-row align-items-center">

        <select class="col-sm-2" name="category" style="height: 40px;margin-right: 4px">
            {% for category in categorys %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <select class="col-sm-3" name="location" style="height: 40px">
        {% for location in locations %}
            <option value="{{ location.id }}">{{ location.name }}</option>
        {% endfor %}
        </select>

        <div class="col-sm-2">
            <input type="number" class="form-control" name="price_min"
                   placeholder="min cena">
        </div>


        <div class="col-sm-2">
            <input type="number" class="form-control" name="price_max"
                   placeholder="max cena">
        </div>
        <div class="col-sm-2">
            <input type="number" class="form-control" name="room"
                   placeholder="ilość pokoi">
        </div>
        <input class="btn btn-primary" type="submit" value="szukaj"/>
    </div>


</form>
</div>